
<div fxLayout="row wrap" fxLayoutGap="20px">
<mat-card fxFlex="30%"  *ngFor="let item of images" >
  <mat-card-header>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>{{item.undertitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./../../../assets/Images/notfound.png" alt="Image not Found">
  <mat-card-content>
    <p>
      {{item.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon aria-label="Buy">add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Remember">turned_in_not</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
</div>